body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS0xQ0VCzKNNkQoBMqijIcK-S4xtNp6AfXacB8_xA_YWjU4J87G");
    background-repeat: no-repeat;
    background-size: cover;
}

.pagina{
    margin: 0;
    width: -webkit-fill-available;
    height: 100vh;
}

.titulo{
    margin-top: 5%;
    width: 12%;
    margin-left: 44%;
    margin-right: 44%;
    background-color: rgba(236, 154, 0, 0.9);
    border-width: 1px;
    border-radius: 0.6rem;
}

.container{
    margin: auto;
    margin-top: 5%;
    padding-left: 25%;
    padding-right: 25%;
    width: 50%;
    height: 5%;
    vertical-align: middle;
    
}

.container2{
    margin: auto;
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

#h2-titulo{
    margin: 0;
    margin-bottom: 3%;
}

.row{
    height: 100%;
}

.wrap {
    background: white;
    color: #000000;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    width: 50%; 
    height: 100%;
    float: left;
}

.wrap:hover {
    background: linear-gradient(135deg,#ff6803 35%,#552f11 100%);
    color: white;
}

.text-wrap{
    height: 100%;
}

#h2-texto1{
    margin: 0;
    height: 100%;
}


#texto{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#texto2{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p{
    margin: 0;
    height: 100%;
} 

.mbr-fonts-style{
    margin: 0;
    height: 100%;
}

.display-5 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 85%;
}
  
.mbr-bold {
    font-weight: 1000;
}
  